import './{componentName}.scss';
import PropTypes from {quotes}prop-types{quotes};
import React, { PureComponent } from {quotes}react{quotes};

class {componentName} extends PureComponent {
  static propTypes = {
  };

  static defaultProps = {
  };

  render () {
    return ();
  }
}

export default {componentName};
