import './{componentName}.scss';
import PropTypes from 'prop-types';
import React from 'react';

const {componentName} = (props) => {
  return ();
}

{componentName}.propTypes = {
};

{componentName}.defaultProps = {
};

export default {componentName};
